<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>832600825780-kivsgn5e4va2dlghndpemm9jn52ik9ru.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.832600825780-kivsgn5e4va2dlghndpemm9jn52ik9ru</string>
	<key>API_KEY</key>
	<string>AIzaSyAp1TKJin7jMwdNmbLv728VjcS3AF-zAiE</string>
	<key>GCM_SENDER_ID</key>
	<string>832600825780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.samilnugay.yenibisim</string>
	<key>PROJECT_ID</key>
	<string>bisim-app-e76f1</string>
	<key>STORAGE_BUCKET</key>
	<string>bisim-app-e76f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:832600825780:ios:fb96ac8e266bf47febdce1</string>
</dict>
</plist>